<ul class="links">
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Self Assesment</a></li>
  <li class="{% if page.url contains '/opengl/' %} active {% endif %}"><a href="{{ "/opengl/" | absolute_url }}">Software Design and Engineering</a></li>
  <li class="{% if page.url contains '/structures/' %} active {% endif %}"><a href="{{ "/structures/" | absolute_url }}">Algorithms and Data Structures</a></li>
  <li class="{% if page.url contains '/databases/' %} active {% endif %}"><a href="{{ "/databases/" | absolute_url }}">Databases</a></li>
  <li class="{% if page.url contains '/codereview/' %} active {% endif %}"><a href="{{ "/codereview/" | absolute_url }}">Code Review</a></li>
</ul>

